body {
    font-family: "Inter";
    text-align: center;
    transition: 0.5s;
}

p { 
    font-family:'Liberation Sans', sans-serif;
    font-weight: 500;
}

.sub {
    font-size: 1rem;
}

small { 
    font-size: 0.6rem;
}

button,
input[type="button"] {
    background: #0077ff;
    color: white;
    border-radius: 5px;
    border: transparent;
    height: 40px;
    width: 140px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover,
input[type="button"]:hover {
    background: #0060ce;
}

button:focus,
input[type="button"]:focus {
    outline: medium solid rgb(0, 119, 255, 0.5);
}

textarea {
    height: 100vh;
    width: 100vw;
    resize: none;
    border: none;
    outline: none;
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    text-indent: 50px;
}

a {
    color: purple;
}

a:hover {
    color: rgb(255, 0, 225);
}